<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Take photos to turn into kaleidoscope art</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Choose photos to turn into kaleidoscope art</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Use your microphone to make the kaleidoscope react to sound</string>
</dict>
</plist>
